body {
    background-color: rgb(14, 8, 8);
    font-family: -webkit-pictograph;
    margin: 0;
}

/* Common class  */
input {
    width: 550px;
    height: 30px;
    border-radius: 7px;
    margin: 15px 2px 60px 290px;
    box-shadow: 1px solid white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.container-item {
    height: 300px;
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    background-color: #1A1A1A;
    border-radius: 9px;
}

img {
    width: 200px;
    height: 200px;
}

h3 {
    color: white;
    text-align: center;
    font-size: 18px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    margin-left: 50px;
}


/* Profile Details  */

.container-image-item {
    height: 300px;
    width: 300px;
    border: 1px solid white;
}

.justifyContent {
    justify-content: start;
    margin: 70px;
}

.borderRadius {
    border-radius: 7px;
}

.flex-item {
    margin-left: 80px;
}

.link-profile {
    color: green;
    text-decoration: none;
    font-size: 18px;
    background-color: black;
    border: 1px solid green;
    border-radius: 5px;
    padding: 4px 14px 4px 14px;

}


.profile-actions {
    display: flex;
    justify-content: space-between;
}

.danger {
    color: red;
    border: 1px solid red;
}

.warning {
    color: yellow;
    border: 1px solid yellow;
}

.user-name {
    margin-left: 10px;
    font-size: 20px;
    color: wheat;
}

.mt-4 {
    margin-top: 12px;
}

.mx-4 {
    margin-left: 12px;
    margin-right: 12px;
}


/* Select Candidate  */

.container-select {
    height: 300px;
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    background-color: #1A1A1A;
    border-radius: 9px;
}

h2 {
    font-size: 24px;
    color: wheat;
}

.center {
    text-align: center;
}


/**Navbar*/

/* 
.container-li {
    margin-top: 15px;
} */









.navLink {
    text-decoration: none;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
    color: wheat;
}

.container-ul {
    list-style: none;
    display: flex;
}

.nav-item {
    display: flex;
    background-color: #17a86c;
    height: 60px;
    margin-top: -5px;
    align-items: center;
}

.burger {
    margin: 20px 20px;
    color: wheat;
    font-size: 35px;
    cursor: pointer;
    display: none;
    /* display: block; */
}


@media only screen and (max-width:700px) {
    .burger {
        display: block;
    }

    .container-ul {
        display: none;
    }

    .hide {
        display: none;
    }

    .show {
        display: flex;
        flex-direction: column;
        background-color: #17a86c;
        height: auto;
        justify-content: left;
        align-items: flex-start;
    }

    .container-li {
        margin-top: 10px;
    }
}